[submodule "kitti-odom-eval"]
	path = kitti-odom-eval
	url = https://github.com/Huangying-Zhan/kitti-odom-eval
[submodule "deepFEPE_data"]
	path = deepFEPE_data
	url = https://github.com/eric-yyjau/deepFEPE_data.git
